<h4>
    Upload
</h4>

<input type="file" name="uploadFile" ng2FileSelect [uploader]="uploader" />
<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    Upload
</button>

<table>
    <thead>
      <tr>
        <th>File name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files" [ngClass]="file.id">
            <td>{{ file.fileName }}</td>
            <td>{{ file.fileStatus }}</td>
        </tr>
    </tbody>
</table>  